* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #e8f0ff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation bar */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem;
  background: #366ed8;
  color: #d6d7dd;
}

nav a {
  text-decoration: none;
  color: #d6d7dd;
}

nav a.username {
  text-decoration: underline;
}

nav a:hover {
  color: white;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav > ul > li {
  padding: 0 2rem;
}

/* main */

main {
  width: 80%;
  background: white;
  padding: 1rem 7rem;
  flex: 1 1 auto;
}

main a {
  text-decoration: none;
}

/* art cards */

.art-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.art-wrapper figure {
  max-width: 25%;
  display: flex;
  flex-direction: column;
}

.art-wrapper figure > a {
  margin: auto 0;
}

.art-wrapper figure img {
  max-height: 400px;
  max-width: 100%;
}

.art-wrapper figure figcaption {
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.art-wrapper figure figcaption > p {
  margin-left: 1em;
}

/* art page */
.tagline {
  display: flex;
  align-items: baseline;
}

.tagline > * {
  margin-bottom: 0;
}

.tagline h1 a {
  color: black;
}

.tagline h2 {
  margin-left: 0.5em;
}

img.artwork-full {
  display: block;
  margin: 0 auto;
  max-height: 500px;
}

section.details {
  width: 80%;
  margin: 0 auto;
}

.interactions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.votes {
  display: flex;
  align-items: baseline;
}

.votes p {
  margin: 0;
}

button.vote-button {
  background: none;
  border: none;
}

button.vote-button::before {
  content: "♡";
  color: red;
  font-size: 2em;
}

button.vote-button.liked::before {
  content: "♥";
}

button.vote-button:hover::before, button.vote-button.liked:hover::before {
  color: rgb(255, 116, 116);
  cursor: pointer;
}

button.save-button {
  background: none;
  border: none;
  color: #366ed8;
  font-size: 2em;
}

button.save-button:hover {
  color: #5883d3;
  cursor: pointer;
}

p.caption {
  text-align: center;
}

.votes {
  display: flex;
  align-items: center;
}

ul.tags {
  display: flex;
  align-items: baseline;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul.tags > li > a {
  text-decoration: none;
}

ul.tags > li {
  margin: 0 0.25rem;
}
