<script>
    $("#search").submit(function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        const query = $("#searchbar").val()
        console.log(query)
        $.ajax({
            type: "POST",
            url: "{% url 'search' %}",
            data: {
                "query": query,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            dataType: "json",
            success: function(response) {
                if(response["added"])
                    window.location.href = response["added"];
                else
                    alert("That artwork is already in that collection, so it was not added.")
            }
        });
    });
</script>