{% extends 'base.html' %}

{% block title %}{{ artist }} - artdock{% endblock %}

{% block content %}
    <h1><a href="{{ artist.get_absolute_url }}">{{ artist.username }}</a></h1>
    {% if artist == user %}
        <ul>
            <li><a href="{% url 'upload' %}">Upload new artwork</a></li>
            <li><a href="{% url 'new-collection' %}">Create new collection</a></li>
            <li><a href="{% url 'edit-profile' %}">Edit profile</a></li>
        </ul>
    {% endif %}
    <dl>
        <dt>Pronouns</dt>
        <dd>{{ pronouns }}</dd>
        {% if artist.bio %}
        <dt>Bio</dt>
        <dd>{{ artist.bio }}</dd>
        {% endif %}{% if artist.location %}
        <dt>Location</dt>
        <dd>{{ artist.location }}</dd>
        {% endif %}
    </dl>
    {% if artworks %}
    {% include 'utils/artspan.html' with artworks=artworks %}
    {% else %}{% if artist == user %}
    <p>You don't have any artworks.  Why not <a href="{% url 'upload' %}">post some</a>?</p>
    {% else %}<p>No artworks yet.</p>{% endif %}{% endif %}
    <h2>Collections</h2>
    {% if collections %}
    <ul>
        {% for collection in collections %}
        <li><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}{% if artist == user %}
    <p>You don't have any collections yet.  Why not <a href="{% url 'new-collection' %}">create one</a>?</p>
    {% else %}<p>No collections yet.</p>{% endif %}{% endif %}
{% endblock %}