{% extends 'base.html' %}

{% block title %}{{ artwork }} - artdock{% endblock %}

{% block content %}
    <span class="tagline">
        <h1><a href="{{ artwork.get_absolute_url }}">{{ artwork.title }}</a></h1>
        <h2>by <a href="{{ artwork.artist.get_absolute_url}}">{{ artwork.artist.username }}</a></h2>
    </span>
    <p>Posted {{ artwork.created }}</p>
    <a href="{{ artwork.image.url }}"><img src="{{ artwork.image.url }}" class="artwork-full" /></a>
    <section class="details">
        <p>{{ artwork.caption }}</p>
        <span class="tags">
            <h3>Tags:</h3>
            <ul class="tags">
                {% for tag in artwork.tags.all %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </span>
    </section>
{% endblock %}