{% extends 'base.html' %}

{% block title %}#{{ tag.name }} - artdock{% endblock %}

{% block content %}
    <h1>#<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></h1>
    {% for artwork in artworks %}
    <figure>
        <a href="{{ artwork.get_absolute_url }}">
            <img src="{{ artwork.image.url }}" />
        </a>
        <br />
        <figcaption>
            <h3><a href="{{ artwork.get_absolute_url }}">{{ artwork.title }}</a></h3>
            <p>by <a href="{{ artwork.artist.get_absolute_url }}">{{ artwork.artist }}</a></p>
        </figcaption>
    </figure>
    {% endfor %}
{% endblock %}